body {
    background-color: #d9d9d9;
}


/* Log in */

h1 {
    align-items: center;
    text-align: center;
    margin: 10%;
}

#loginBox {
    padding: 3%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

.formInputs {
    display: grid;
    padding: 3%;
}

.formInputs input {
    margin-bottom: 5%;
}

.formBtns {
    display: grid;
    width: 60%;
    margin: 0 auto;
    gap: 20%;
    margin-bottom: 5%;
}

.formBtns button {
    background-color: #FFFFFF;
    border: none;
}



/* Create account */

#createAccountBox {
    padding: 3%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}



/* Home */

#writePost {
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
}

#title { /* FIX OVERFLOW */
    outline: none;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    width: 70%;
    border-color: black;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

#post { /* FIX: HEIGHT AND WIDTH */
    outline: none;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    border-color: black;
    border-radius: 20px;
    padding: 4%;
}

#save {
    outline: none;
    border-color: black;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 5%;
}


/* User notes */

#userNotes {
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
}

#userNote {
    display: block;
    margin: 0 auto;
}

/* Navbar */

#navbar {
    background-color: #1D5283;
}

.navbar a {
    color: black;

}