body {
    background-color: #d9d9d9;
}



/* log in */

h1 {
    align-items: center;
    text-align: center;
    margin: 10%;
}

#loginBox {
    padding: 3%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

#formInputs {
    display: grid;
    padding: 3%;
}

#formInputs input {
    margin-bottom: 5%;
}

#formBtns {
    display: grid;
    width: 60%;
    margin: 0 auto;
    gap: 20%;
    margin-bottom: 5%;
}

#formBtns button {
    background-color: #FFFFFF;
    border: none;
}



/* Home */

#post {
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    /* Radius based on 25px. 25/234.4  and   25/456 */
    border-radius: 10.6% / 5.5%;
}